@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.max-h-98svh {
  height: 98svh;
}
.max-h-70svh {
  height: 70svh;
}
.min-w-2xl {
  min-width: 42rem;
}
.text-jsonred {
  color: #a31515;
}
